/******___This file will not be needed as it recreates platform functionality___*****/
/*--------------------------
 Navigation
 - top
 - left
 - bottom
---------------------------*/
/*--------------------------
Top
---------------------------*/
.header{
    height: 60px;
    background-color: white;
}
.header-navigation li:first-child{
    margin-right:30px;
}
.header-navigation li{
    float: right;
    padding: 10px 5px;
}
.padding-bottom-10{
    padding-bottom: 10px;
}

#logo {
    position: absolute;
    top: 4px;
    left: 20px;
    width: 124px;
    height: 52px;
    background: url(https://d2rnem5shez54u.cloudfront.net/images/general_ui/ats_secured_logo.png) no-repeat;
    background-size: 100% 100%;
    display: block;}
/*--------------------------
Left
---------------------------*/
.left-navigation{
    margin-top: 60px;
    margin-left:30px;
    margin-right:-10px;
}
.right-text-align{
    text-align: right;
}
.left_navigation__list li {
    /*position: relative;*/
    /*width: 100%;*/
    /*padding: 8px 22px 8px 12px;*/
    /*color: red;*/
    /*font-family: 'Lato Light';*/
    /*font-size: 14pt;*/
    /*text-align: right;*/
    /*box-sizing: border-box;*/
    /*display: block;*/
    /*line-height: 1.5em;*/
    background-color: #888888;
}
.nav_stop {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    width: 12px;
    height: 16px;
    /*height: 100%;*/
    display: inline-block;
}
#left_navigation_top {
    margin-top: 1px;
    border-top-left-radius: 8px;
}
#left_navigation_bottom {
    margin-top: -1px;
    border-bottom-left-radius: 8px;
}

#left_navigation_top, #left_navigation_bottom {
    position: relative;
    width: 100%;
    height: 26px;
    background: #888;
}
/*--------------------------
Bottom/footer
---------------------------*/
footer{
    background-color: white;
    margin-top:15px;
    height:40px;
}
.bottom-nav ul li{
    float:left;
    border-left:1px solid #cccccc;
    padding:5px;
}
.bottom-nav p{
    padding-top:10px;
}
.bottom-nav .fa, .header-navigation .fa, .header-navigation img{
    color: #3e3e3e;
}