/******___This file will not be needed as it recreates platform functionality___*****/
/*--------------------------
 Navigation
 - top
 - left
 - bottom
---------------------------*/
/*--------------------------
Top
---------------------------*/
.header{
    height: 60px;
    background-color: white;
}
.header-navigation li:first-child{
    margin-right:30px;
}
.header-navigation li{
    float: right;
    padding: 10px 5px;
}
.padding-bottom-10{
    padding-bottom: 10px;
}

#logo {
    position: absolute;
    top: 4px;
    left: 20px;
    width: 124px;
    height: 52px;
    background: url(https://d2rnem5shez54u.cloudfront.net/images/general_ui/ats_secured_logo.png) no-repeat;
    background-size: 100% 100%;
    display: block;}
/*--------------------------
Left
---------------------------*/
.left-navigation{
    margin-top: 60px;
    margin-left:30px;
    margin-right:-10px;
}
.right-text-align{
    text-align: right;
}

.left-navigation__list li {
    margin-right: 10px;
}
#left_navigation a {
    position: relative;
    width: 100%;
    padding: 8px 22px 8px 12px;
    color: #FFF;
    font-size: 14pt;
    text-align: right;
    background: #888;
    box-sizing: border-box;
    display: block;
    font-weight: 100;
    line-height: 1.5em;
}

.nav_stop {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    /*height: 16px;*/
    height: 100%;
    display: inline-block;
}
.left-navigation{
    background-color: #888888;
    border-radius: 8px 0 0 8px;
    padding: 20px 0;
}
/*--------------------------
Bottom/footer
---------------------------*/
.bottom-nav{
    background-color: white;
    margin-top:15px;
    height:40px;
    position: inherit;

}

.bottom-nav ul li{
    float:left;
    border-left:1px solid #cccccc;
    padding:5px;
}
.bottom-nav p{
    padding-top:10px;
}
.bottom-nav .fa, .header-navigation .fa, .header-navigation img{
    color: #3e3e3e;
}
.bottom-nav{

}