/******___This file will not be needed as it recreates platform functionality___*****/
/*--------------------------
 Included in this css file:
 Page layout
 other little
 card layout

---------------------------*/
/*--------------------------
Page Layout
---------------------------*/
body{
   background-color: #cccccc;
    font-family: 'Lato', sans-serif;
}
.page{
    background-color: #f5f5f5;
    width:97%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top:20px;
    padding-bottom: 40px;
    min-height: 600px;

}
.page__content{
    width: 97%;
    margin:5px auto;
    padding-top: 20px;

}
.page__content__title {
    background: #0f857c;
    padding: 30px 30px 10px;
}
h1, h2{
    font-weight: 300;
}
/*--------------------------
other little
---------------------------*/
.search{
    text-align: center;
    padding: 40px 0;
}
.search input{
    width:550px;
    max-width:  calc(100% - 176px);
    min-height: 40px;
    border-radius: 2px;
    border:solid 1px #cccccc;
}
button{
    background-color: #339933;
    color:white;
    font-size: 14px;
    border:none;
    padding:10px;
    font-weight: lighter;

}
/*--------------------------
card Layout
---------------------------*/
.cards{
    max-width: 70%;
    margin:0 auto;
}
.cards__card{
    float:left;
    padding:5px;
}
.cards__card img{
    max-width:260px;
}
.cards{
}
/*----------------------------
   tab
-----------------------------*/
.tab{
    max-height:40px;
    background-color: #0F857C;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 30px;
}
.tab-container {
    opacity: .9;
    width: 100%;
    background-color:#ffffff;
}
.tab-content {
    display: none;
    border-top: none;
}
.tab li{
    float: left;
}
.tab li a {
    border-radius: 7px 7px 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 17px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}
/* Create an active/current tablink class */
.tab li a:focus,
.active {
    background-color: #fff;
    color: black !important;
}
/*needed to mainly overwrite shared layout*/
#full-tab-content {
    background-color: #fff;
    display: block;

}

/*----------------------------
   report header and section(s)
-----------------------------*/
.report-header{
    background: #0f857c;
    padding:30px 30px 10px;
}
.report-section{
    border:1px solid #cccccc;
    margin-top: -1px;
    letter-spacing: normal;
}
.report-section__header {
    background: #EAF4F3;
    position: relative;
    top: -36px;
    left: -15px;
    width: 101.5%;
}
.col-1-2 > .report-section__header {
    top: -34px;
    width: 102.9%;
}
.report-section__content__column{
    font-size:14px;
}

.report-section__content__column ul li, .report-section__content__column li {
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    margin:0;
    padding:0;
    line-height: 2em;
}
.report-section__content__column ul li span{
    /*color: rgb(0, 0, 0);*/
    color: rgba(0, 0, 0, 0.35);
}
.section{
    margin-top:30px;
}
h4{
    margin-bottom:-30px;
}
.invisible{
    display: none;
}
.expanded{
    display: block;
}

