/*---------------------------
    TOC
    - Normalization
    - Color
    - Grid
    - Type
    - Postition
    - Margin
    - Padding
----------------------------*/
/*---------------------------
    Normalization
----------------------------*/
body{
    margin:0;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*---------------------------
    Color
----------------------------*/
.white-background{
    background-color: white;
}
.white-text{
    color: #fff;
}
.green-text, .green-text a{
    color: #339933;
}

/*---------------------------
    Grid
----------------------------*/
.grid{

}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    float: left;
}
.col-1-1, .col-7-7{
    width:96%;
    display: block;
}
.col-1-2 {
    width: 47.6%;
}
.col-1-7{
    width: calc((100%/7) - 1%);
}
.col-2-7{
    width: calc(((100%/7)*2) - 1%);

}
.col-3-7{
    width: calc(((100%/7)*3) - 1%);

}
.col-4-7{
    width: calc(((100%/7)*4) - 1%);

}
.col-5-7{
    width: calc(((100%/7)*5) - 1%);

}
.col-6-7{
    width: calc(((100%/7)*6) - 2%);

}
[class*='col-'] {
   margin-right: 8px;
}

.grid-pad {
    padding: 15px 0 15px 15px;
}
/*.grid-pad > [class*='col-']:last-of-type {*/
    /*padding-right: 20px;*/
/*}*/
[class*='col-']:last-of-type {
    padding-right: 0;
}
/*---------------------------
    Type
----------------------------*/

.no-list-style{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.left-aligned-list li{
    float: left;
    padding: 2px;
}
.left-aligned-list li:first-child{
     padding-left: 2px;
 }
.center-text-align{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
}
footer a{
    text-decoration: none;
    color: #888;
}
h4{
    padding: 10px 20px;
}
/*---------------------------
    Position
----------------------------*/
.float-right{
    float:right;
}
.float-left{
    float: left;
}
/*---------------------------
    Margin
----------------------------*/
.margin-left-10{
    margin-left:10px;
}
.margin-top-20{
    margin-top:20px;
}
/*---------------------------
    Padding
----------------------------*/
.padding-right-20{
    padding-right:20px;
}
.padding-right-neg20{
    margin-right:-20px;
}
/*---------------------------
    border
----------------------------*/
.ccc-border-1{
    border:solid 1px #ccc;
}